In [5]:
import pandas as pd
from scipy.stats import ttest_ind

In [6]:
baseline = pd.read_excel('results/semantic_similarities_baseline.xlsx', index_col=0)
gemma3 = pd.read_excel('results/Semantic_Similarities_Gemma_untrained.xlsx', index_col=0)
llama4 = pd.read_excel('results/semantic_similarities_llama4.xlsx', index_col=0)

In [7]:
baseline.describe()

                0
count  200.000000
mean     0.663492
std      0.178473
min     -0.001194
25%      0.569443
50%      0.687993
75%      0.789031
max      0.946113

In [8]:
gemma3.describe()

                0
count  200.000000
mean     0.502455
std      0.130216
min      0.128034
25%      0.418758
50%      0.515865
75%      0.604241
max      0.771373

In [9]:
llama4.describe()

                0
count  200.000000
mean     0.745733
std      0.177670
min     -0.066537
25%      0.654670
50%      0.793024
75%      0.874772
max      0.985788

In [10]:
def perform_hypothesis_test(test, tvalue, pvalue):
    print(f"t = {tvalue}, p = {pvalue}")
    if pvalue < 0.05 / 3: # Bonferroni adjustment
        print("Reject null hypothesis for " + test)
    else:
        print("Do not reject null hypothesis for " + test)
    print()

In [14]:
t, p = ttest_ind(gemma3, baseline, equal_var=False, alternative='greater')
perform_hypothesis_test("baseline vs. gemma3 t-test", t, p)

t = [-10.30845677], p = [1.]
Do not reject null hypothesis for baseline vs. gemma3 t-test

In [15]:
t, p = ttest_ind(llama4, baseline, equal_var=False, alternative='greater')
perform_hypothesis_test("baseline vs. llama4 t-test", t, p)

t = [4.61840458], p = [2.61417624e-06]
Reject null hypothesis for baseline vs. llama4 t-test

In [16]:
t, p = ttest_ind(llama4, gemma3, equal_var=False, alternative='greater')
perform_hypothesis_test("gemma3 vs. llama4 t-test", t, p)

t = [15.61872587], p = [8.94158879e-43]
Reject null hypothesis for gemma3 vs. llama4 t-test